[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
black = "*"
tox = "*"
pytest = "*"
mypy = "*"
mypy-protobuf = "*"
pytest-cov = "*"

[packages]
collabfuzz-generic-driver = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
